body { font-size: 10px; }
.search-bar {
	margin: 0.8em;
	text-align: center;
}
.search-bar input {
	width: 75%;
	padding: 4px;
	border-radius: 6px;
}
.video-item img { max-width: 64px; }
.video-detail .details {
	margin-top: 1em;
	padding: 1em;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item { cursor: pointer; }
.list-group-item:hover { background-color: #ccc }